<!doctype html>
<html lang="en" data-bs-theme='dark'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clashstats</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
        });
    </script>
    <style>
        .custom-badge {
        background-color: #d63384;
        color: white;
      }
    </style>
<style>
@media (max-width: 768px) {
    .container, .d-flex {
        flex-direction: column;
        align-items: center;
    }
    .card, .border {
        width: auto !important;
        margin: 10px;
    }
    .progress {
        width: 100% !important;
    }
}
</style></head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Clashstats</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/playerstatssearch">Player stats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/clanrankingsearch">Clan ranking</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="container py-3">
        <div class='d-flex justify-content-between align-items-center' style="width:250px">
            <div>
                <a class="btn btn-primary" href="/playerstatssearch" role="button"><i class="ti ti-arrow-left"></i></a>
            </div>
            <h1>Player info</h1>
        </div>
        {% for player in playerinfo %}
        <div class='mb-5 border border-secondary border-3 rounded'>
            <div>
                <div class='p-3'>
                    <div class='d-flex justify-content-start'>
                        <div class='g-2'>
                            <h2 class='text-warning'>{{ player.name }}</h2>
                            <h5 class='text-muted'>{{ player.tag }}</h5>
                        </div>
                        <div class='p-2 mx-3'>
                            <p><i class="ti ti-building-stadium"></i> {{ player.arena.name }}</p>
                            <p><i class="ti ti-rosette"></i> XP level : {{ player.expLevel }}</p>
                        </div>
                        <div class='p-2 mx-auto'>
                            <p><i class="ti ti-rosette"></i> Total XP points : {{ player.totalExpPoints }}</p>
                            <p><i class="ti ti-star"></i> Star points : {{ player.starPoints }}</p>
                        </div>
                        <div class='p-2 mx-auto'>
                            <p><i class="ti ti-trophy"></i> Trophies : {{ player.trophies }}</p>
                            <p><i class="ti ti-trophy-off"></i> Best trophies : {{ player.bestTrophies }}</p>
                        </div>
                        <div class='p-2 mx-auto'>
                            <p><i class="ti ti-award"></i> Wins : {{ player.wins }}</p>
                            <p><i class="ti ti-skull"></i> Losses : {{ player.losses }}</p>
                        </div>
                        <div class='p-2 mx-auto'>
                            <p><i class="ti ti-swords"></i> Battles played : {{ player.battleCount }}</p>
                            <p><i class="ti ti-building-castle"></i> 3 crown wins : {{ player.threeCrownWins }}</p>
                        </div>
                        <div class='p-2 mx-auto'>
                            <p><i class="ti ti-play-card"></i> Challenge cards won : {{ player.challengeCardsWon }}</p>
                            <p><i class="ti ti-hourglass-empty"></i> Play time : {{ player.timespent }}h ({{ player.timeratio }})</p>
                        </div>
                    </div>
                    <div class='row row-cols-auto g-2 p-2'>
                        <div class='border rounded p-3 mx-auto'>
                            <h5 class='text-info p-2'>Clan</h5>
                            <p><i class="ti ti-forms"></i> Name : {{ player.clan.name }}</p>
                            <p><i class="ti ti-user"></i> Role : {{ player.role }}</p>
                            <p><i class="ti ti-hand-stop"></i> Week donations : {{ player.donations }}</p>
                            <p><i class="ti ti-hand-grab"></i> Week received : {{ player.donationsReceived }}</p>
                            <p><i class="ti ti-cards"></i> Total donations : {{ player.totalDonations }}</p>
                        </div>
                        <div class='border rounded p-3 mx-auto'>
                            <h5 class='text-info p-2'>Badges</h5>
                            <div class='row row-cols-auto g-2 d-flex justify-content-between overflow-auto' style='width:700px; height:450px'>
                                {% for badge in badge %}
                                <div class='card col d-flex flex-column mx-auto' style="width: 10rem;">
                                    <img src={{ badge.iconUrls }} class="card-img-top d-block mx-auto">
                                    <div class="card-body d-flex flex-column justify-content-between">
                                        <p class='fw-bold fs-6'>{{ badge.name }}</p>
                                        <p class='card-text'>Level {{ badge.level }} / {{ badge.maxLevel }}</p>
                                        <div class="progress" role="progressbar" aria-label="Badge progress" aria-valuenow="{{ badge.progress }}" aria-valuemin="0" aria-valuemax="{{ badge.target }}" style="height:7px">
                                            <div class="progress-bar" style="width: {{ badge.progressPerc }}%"></div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="border rounded mx-auto p-3">
                            <h5 class='text-info p-2'>Favorite Card</h5>
                            {% for fcard in favoritecard %}
                            <div class="col d-flex align-items-center">
                                <div class="card border-white" style="width: 15rem; flex-direction: column;">
                                    <img src="{{ fcard.iconUrls }}" class="card-img-top mx-auto" alt="{{ fcard.name }}" style="width:75%;">
                                    <div class="card-body d-flex flex-column justify-content-between">
                                        <h5 class="card-title">{{ fcard.name }}</h5>
                                        <p class="card-text">Max level {{ fcard.maxLevel }}</p>
                                        <div class='d-flex justify-content-between align-items-center'>
                                            {% if fcard.rarity == 'common' %}
                                            <span class="badge text-bg-secondary">Common</span>
                                            {% elif fcard.rarity == 'rare' %}
                                            <span class="badge text-bg-warning">Rare</span>
                                            {% elif fcard.rarity == 'epic' %}
                                            <span class="badge text-bg-primary">Epic</span>
                                            {% elif fcard.rarity == 'legendary' %}
                                            <span class="badge text-bg-info">Legendary</span>
                                            {% elif fcard.rarity == 'champion'%}
                                            <span class="badge text-bg-success">Champion</span>
                                            {% endif %}
                                            <div class='d-flex flex-column'>
                                                <span class="badge custom-badge rounded-pill">{{ fcard.elixirCost }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <h1>Battle log</h1>
        {% for battle in battles %}
            <div class="mb-5 border border-secondary border-3 rounded" style="width: 100%; max-width: 2500px; margin: auto;">
                <div class="d-flex justify-content-between">
                    <div class="p-3">
                        <h2 class='text-warning'>{{ battle.team.name }} vs {{ battle.opponent.name }}</h2>
                        <p class='text-muted'>{{ battle.battleTime }}</p>
                        <p><i class="ti ti-building-stadium"></i> {{ battle.arena.name }}</p>
                        <p><i class="ti ti-tank"></i> {{ battle.gameMode.name }}</p>
                        <p><i class="ti ti-cards"></i> {{battle.deckSelection}}</p>
                    </div>
                    <div class='row'>
                        <div class="col col d-flex align-items-stretch p-3">
                            <div class="d-flex justify-content-between border rounded p-3" style='width:430px;'>
                                <div class="card-body">
                                    <h5><a data-bs-toggle="tooltip" data-bs-title={{battle.team.tag|slice:":9"}}>{{battle.team.name}}</a></h5>
                                    <p></p>
                                    <p class='card-text'><a class='link-opacity-100-hover text-light' href="/clanranking/{{ battle.team.clan }}"><i class="ti ti-users-group"></i> Clan : {{ battle.team.clan.name }}</a></p>
                                    <p class='card-text'><i class="ti ti-droplet"></i> Elixir leaked : {{ battle.team.elixirLeaked }}</p>
                                    <p class='card-text'><i class="ti ti-crown"></i> Crowns won : {{ battle.team.crowns }}</p>
                                    <p class='card-text'><i class="ti ti-building-castle"></i> King tower points : {{ battle.team.kingTowerHitPoints }}</p>
                                    <p class='card-text'><i class="ti ti-tower"></i></i> Tower 1 points : {{ battle.team.princessTower1HitPoints }}</p>
                                    <p class='card-text'><i class="ti ti-tower"></i></i> Tower 2 points : {{ battle.team.princessTower2HitPoints }}</p>
                                </div>
                                <div class="d-flex justify-items-center p-3 {% if battle.team.supportCards.name %} visible {% else %} invisible {% endif %}">
                                    <div class="card border-light" style="width: 9rem; height: auto">
                                        <img src="{{ battle.team.supportCards.iconUrlsm }}" class="card-img-top d-block mx-auto" alt="{{ battle.team.supportCards.name }}" style="width:75%;height:auto;">
                                        <div class="card-body d-flex flex-column justify-content-between">
                                            <h5 class="card-title">{{ battle.team.supportCards.name }}</h5>
                                            <p class="card-text">Level {{ battle.team.supportCards.level }}</p>
                                            <div>
                                                {% if battle.team.card1.rarity == 'common' %}
                                                <span class="badge text-bg-secondary">Common</span>
                                                {% elif battle.team.card1.rarity == 'rare' %}
                                                <span class="badge text-bg-warning">Rare</span>
                                                {% elif battle.team.card1.rarity == 'epic' %}
                                                <span class="badge text-bg-primary">Epic</span>
                                                {% elif battle.team.card1.rarity == 'legendary' %}
                                                <span class="badge text-bg-info">Legendary</span>
                                                {% elif battle.team.card1.rarity == 'champion'%}
                                                <span class="badge text-bg-success">Champion</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col d-flex align-items-stretch p-3">
                            <div class="d-flex justify-content-between border rounded p-3" style='width:430px;'>
                                <div class="card-body">
                                    <h5><a data-bs-toggle="tooltip" data-bs-title={{battle.opponent.tag|slice:":9"}}>{{battle.opponent.name}}</a></h5>
                                    <p></p>
                                    <p class='card-text'><a class='link-opacity-100-hover text-light' href="/clanranking/{{ battle.opponent.clan.tag }}"><i class="ti ti-users-group"></i> Clan : {{ battle.opponent.clan.name }}</a></p>
                                    <p class='card-text'><i class="ti ti-droplet"></i> Elixir leaked : {{ battle.opponent.elixirLeaked }}</p>
                                    <p class='card-text'><i class="ti ti-crown"></i> Crowns won : {{ battle.opponent.crowns }}</p>
                                    <p class='card-text'><i class="ti ti-building-castle"></i> King tower points : {{ battle.opponent.kingTowerHitPoints }}</p>
                                    <p class='card-text'><i class="ti ti-tower"></i></i> Tower 1 points : {{ battle.opponent.princessTower1HitPoints }}</p>
                                    <p class='card-text'><i class="ti ti-tower"></i></i> Tower 2 points : {{ battle.opponent.princessTower2HitPoints }}</p>
                                </div>
                                <div class="d-flex justify-items-center p-3 {% if battle.team.supportCards.name %} visible {% else %} invisible {% endif %}">
                                    <div class="card border-light" style="width: 9rem; height: auto">
                                        <img src="{{ battle.opponent.supportCards.iconUrlsm }}" class="card-img-top d-block mx-auto" alt="{{ battle.opponent.supportCards.name }}" style="width:75%;height:auto;">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ battle.opponent.supportCards.name }}</h5>
                                            <p class="card-text">Level {{ battle.opponent.supportCards.level }}</p>
                                            <div>
                                                {% if battle.team.card1.rarity == 'common' %}
                                                <span class="badge text-bg-secondary">Common</span>
                                                {% elif battle.team.card1.rarity == 'rare' %}
                                                <span class="badge text-bg-warning">Rare</span>
                                                {% elif battle.team.card1.rarity == 'epic' %}
                                                <span class="badge text-bg-primary">Epic</span>
                                                {% elif battle.team.card1.rarity == 'legendary' %}
                                                <span class="badge text-bg-info">Legendary</span>
                                                {% elif battle.team.card1.rarity == 'champion'%}
                                                <span class="badge text-bg-success">Champion</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='p-3'>
                    <h4>{{battle.team.name}}'s deck</h4>
                    <h5><span class="badge custom-badge rounded-pill">{{battle.team.averageElixir}}</span></h5>
                </div>
                <div class="row row-cols-1 row-cols-md-auto g-2 p-3 d-flex justify-content-between">
                        <div class="col d-flex align-items-stretch">
                            <div {% if battle.team.card1.level >= battle.team.card1.maxLevel %} class="card border-info" {% else %} class="card" {% endif %} style="width: 9rem; display: flex; flex-direction: column;">
                                <img src="{{ battle.team.card1.iconUrlsm }}" class="card-img-top d-block mx-auto" alt="{{ battle.team.card1.name }}" style="width:75%;height:auto;">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <div>
                                        <h5 class="card-title">{{ battle.team.card1.name }}</h5>
                                        <p class="card-text">Level {{ battle.team.card1.level }}</p>
                                    </div>
                                    <div class='d-flex justify-content-between align-items-center'>
                                        {% if battle.team.card1.rarity == 'common' %}
                                        <span class="badge text-bg-secondary">Common</span>
                                        {% elif battle.team.card1.rarity == 'rare' %}
                                        <span class="badge text-bg-warning">Rare</span>
                                        {% elif battle.team.card1.rarity == 'epic' %}
                                        <span class="badge text-bg-primary">Epic</span>
                                        {% elif battle.team.card1.rarity == 'legendary' %}
                                        <span class="badge text-bg-info">Legendary</span>
                                        {% elif battle.team.card1.rarity == 'champion'%}
                                        <span class="badge text-bg-success">Champion</span>
                                        {% endif %}
                                        <div class='d-flex flex-column'>
                                            <span class="badge custom-badge rounded-pill">{{ battle.team.card1.elixirCost }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex align-items-stretch">
                            <div {% if battle.team.card2.level >= battle.team.card2.maxLevel %} class="card border-info" {% else %} class="card" {% endif %}style="width: 9rem;">
                                <img src="{{ battle.team.card2.iconUrlsm }}" class="card-img-top d-block mx-auto" alt="{{ battle.team.card2.name }}" style="width:75%;height:auto;">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <h5 class="card-title">{{ battle.team.card2.name }}</h5>
                                    <p class="card-text">Level {{ battle.team.card2.level }}</p>
                                    <div class='d-flex justify-content-between align-items-center'>
                                        {% if battle.team.card2.rarity == 'common' %}
                                        <span class="badge text-bg-secondary">Common</span>
                                        {% elif battle.team.card2.rarity == 'rare' %}
                                        <span class="badge text-bg-warning">Rare</span>
                                        {% elif battle.team.card2.rarity == 'epic' %}
                                        <span class="badge text-bg-primary">Epic</span>
                                        {% elif battle.team.card2.rarity == 'legendary' %}
                                        <span class="badge text-bg-info">Legendary</span>
                                        {% elif battle.team.card2.rarity == 'champion'%}
                                        <span class="badge text-bg-success">Champion</span>
                                        {% endif %}
                                        <div class='d-flex flex-column'>
                                            <span class="badge custom-badge rounded-pill">{{ battle.team.card2.elixirCost }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex align-items-stretch">
                            <div {% if battle.team.card3.level >= battle.team.card3.maxLevel %} class="card border-info" {% else %} class="card" {% endif %}style="width: 9rem;">
                                <img src="{{ battle.team.card3.iconUrlsm }}" class="card-img-top d-block mx-auto" alt="{{ battle.team.card3.name }}" style="width:75%;height:auto;">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <h5 class="card-title">{{ battle.team.card3.name }}</h5>
                                    <p class="card-text">Level {{ battle.team.card3.level }}</p>
                                    <div class='d-flex justify-content-between align-items-center'>
                                        {% if battle.team.card3.rarity == 'common' %}
                                        <span class="badge text-bg-secondary">Common</span>
                                        {% elif battle.team.card3.rarity == 'rare' %}
                                        <span class="badge text-bg-warning">Rare</span>
                                        {% elif battle.team.card3.rarity == 'epic' %}
                                        <span class="badge text-bg-primary">Epic</span>
                                        {% elif battle.team.card3.rarity == 'legendary' %}
                                        <span class="badge text-bg-info">Legendary</span>
                                        {% elif battle.team.card3.rarity == 'champion'%}
                                        <span class="badge text-bg-success">Champion</span>
                                        {% endif %}
                                        <div class='d-flex flex-column'>
                                            <span class="badge custom-badge rounded-pill">{{ battle.team.card3.elixirCost }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex align-items-stretch">
                            <div {% if battle.team.card4.level >= battle.team.card4.maxLevel %} class="card border-info" {% else %} class="card" {% endif %}style="width: 9rem;">
                                <img src="{{ battle.team.card4.iconUrlsm }}" class="card-img-top d-block mx-auto" alt="{{ battle.team.card4.name }}" style="width:75%;height:auto;">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <h5 class="card-title">{{ battle.team.card4.name }}</h5>
                                    <p class="card-text">Level {{ battle.team.card4.level }}</p>
                                    <div class='d-flex justify-content-between align-items-center'>
                                        {% if battle.team.card4.rarity == 'common' %}
                                        <span class="badge text-bg-secondary">Common</span>
                                        {% elif battle.team.card4.rarity == 'rare' %}
                                        <span class="badge text-bg-warning">Rare</span>
                                        {% elif battle.team.card4.rarity == 'epic' %}
                                        <span class="badge text-bg-primary">Epic</span>
                                        {% elif battle.team.card4.rarity == 'legendary' %}
                                        <span class="badge text-bg-info">Legendary</span>
                                        {% elif battle.team.card4.rarity == 'champion'%}
                                        <span class="badge text-bg-success">Champion</span>
                                        {% endif %}
                                        <div class='d-flex flex-column'>
                                            <span class="badge custom-badge rounded-pill">{{ battle.team.card4.elixirCost }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex align-items-stretch">
                            <div {% if battle.team.card5.level >= battle.team.card5.maxLevel %} class="card border-info" {% else %} class="card" {% endif %}style="width: 9rem;">
                                <img src="{{ battle.team.card5.iconUrlsm }}" class="card-img-top d-block mx-auto" alt="{{ battle.team.card5.name }}" style="width:75%;height:auto;">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <h5 class="card-title">{{ battle.team.card5.name }}</h5>
                                    <p class="card-text">Level {{ battle.team.card5.level }}</p>
                                    <div class='d-flex justify-content-between align-items-center'>
                                        {% if battle.team.card5.rarity == 'common' %}
                                        <span class="badge text-bg-secondary">Common</span>
                                        {% elif battle.team.card5.rarity == 'rare' %}
                                        <span class="badge text-bg-warning">Rare</span>
                                        {% elif battle.team.card5.rarity == 'epic' %}
                                        <span class="badge text-bg-primary">Epic</span>
                                        {% elif battle.team.card5.rarity == 'legendary' %}
                                        <span class="badge text-bg-info">Legendary</span>
                                        {% elif battle.team.card5.rarity == 'champion'%}
                                        <span class="badge text-bg-success">Champion</span>
                                        {% endif %}
                                        <div class='d-flex flex-column'>
                                            <span class="badge custom-badge rounded-pill">{{ battle.team.card5.elixirCost }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex align-items-stretch">
                            <div {% if battle.team.card6.level >= battle.team.card6.maxLevel %} class="card border-info" {% else %} class="card" {% endif %}style="width: 9rem;">
                                <img src="{{ battle.team.card6.iconUrlsm }}" class="card-img-top d-block mx-auto" alt="{{ battle.team.card6.name }}" style="width:75%;height:auto;">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <h5 class="card-title">{{ battle.team.card6.name }}</h5>
                                    <p class="card-text">Level {{ battle.team.card6.level }}</p>
                                    <div class='d-flex justify-content-between align-items-center'>
                                        {% if battle.team.card6.rarity == 'common' %}
                                        <span class="badge text-bg-secondary">Common</span>
                                        {% elif battle.team.card6.rarity == 'rare' %}
                                        <span class="badge text-bg-warning">Rare</span>
                                        {% elif battle.team.card6.rarity == 'epic' %}
                                        <span class="badge text-bg-primary">Epic</span>
                                        {% elif battle.team.card6.rarity == 'legendary' %}
                                        <span class="badge text-bg-info">Legendary</span>
                                        {% elif battle.team.card6.rarity == 'champion'%}
                                        <span class="badge text-bg-success">Champion</span>
                                        {% endif %}
                                        <div class='d-flex flex-column'>
                                            <span class="badge custom-badge rounded-pill">{{ battle.team.card6.elixirCost }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex align-items-stretch">
                            <div {% if battle.team.card7.level >= battle.team.card7.maxLevel %} class="card border-info" {% else %} class="card" {% endif %}style="width: 9rem;">
                                <img src="{{ battle.team.card7.iconUrlsm }}" class="card-img-top d-block mx-auto" alt="{{ battle.team.card7.name }}" style="width:75%;height:auto;">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <h5 class="card-title">{{ battle.team.card7.name }}</h5>
                                    <p class="card-text">Level {{ battle.team.card7.level }}</p>
                                    <div class='d-flex justify-content-between align-items-center'>
                                        {% if battle.team.card7.rarity == 'common' %}
                                        <span class="badge text-bg-secondary">Common</span>
                                        {% elif battle.team.card7.rarity == 'rare' %}
                                        <span class="badge text-bg-warning">Rare</span>
                                        {% elif battle.team.card7.rarity == 'epic' %}
                                        <span class="badge text-bg-primary">Epic</span>
                                        {% elif battle.team.card7.rarity == 'legendary' %}
                                        <span class="badge text-bg-info">Legendary</span>
                                        {% elif battle.team.card7.rarity == 'champion'%}
                                        <span class="badge text-bg-success">Champion</span>
                                        {% endif %}
                                        <div class='d-flex flex-column'>
                                            <span class="badge custom-badge rounded-pill">{{ battle.team.card7.elixirCost }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex align-items-stretch">
                            <div {% if battle.team.card8.level >= battle.team.card8.maxLevel %} class="card border-info" {% else %} class="card" {% endif %}style="width: 9rem;">
                                <img src="{{ battle.team.card8.iconUrlsm }}" class="card-img-top d-block mx-auto" alt="{{ battle.team.card8.name }}" style="width:75%;height:auto;">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <h5 class="card-title">{{ battle.team.card8.name }}</h5>
                                    <p class="card-text">Level {{ battle.team.card8.level }}</p>
                                    <div class='d-flex justify-content-between align-items-center'>
                                        {% if battle.team.card8.rarity == 'common' %}
                                        <span class="badge text-bg-secondary">Common</span>
                                        {% elif battle.team.card8.rarity == 'rare' %}
                                        <span class="badge text-bg-warning">Rare</span>
                                        {% elif battle.team.card8.rarity == 'epic' %}
                                        <span class="badge text-bg-primary">Epic</span>
                                        {% elif battle.team.card8.rarity == 'legendary' %}
                                        <span class="badge text-bg-info">Legendary</span>
                                        {% elif battle.team.card8.rarity == 'champion'%}
                                        <span class="badge text-bg-success">Champion</span>
                                        {% endif %}
                                        <div class='d-flex flex-column'>
                                            <span class="badge custom-badge rounded-pill">{{ battle.team.card8.elixirCost }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                                                                                   
                </div>
                <div class='p-3'>
                    <h4>{{battle.opponent.name}}'s deck</h4>
                    <h5><span class="badge custom-badge rounded-pill">{{battle.opponent.averageElixir}}</span></h5>
                </div>
                <div class="row row-cols-1 row-cols-md-auto g-2 p-3 d-flex justify-content-between">
                        <div class="col d-flex align-items-stretch">
                            <div {% if battle.opponent.card1.level >= battle.opponent.card1.maxLevel %} class="card border-info" {% else %} class="card" {% endif %} style="width: 9rem; display: flex; flex-direction: column;">
                                <img src="{{ battle.opponent.card1.iconUrlsm }}" class="card-img-top d-block mx-auto" alt="{{ battle.opponent.card1.name }}" style="width:75%;height:auto;">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <div>
                                        <h5 class="card-title">{{ battle.opponent.card1.name }}</h5>
                                        <p class="card-text">Level {{ battle.opponent.card1.level }}</p>
                                    </div>
                                    <div class='d-flex justify-content-between align-items-center'>
                                        {% if battle.opponent.card1.rarity == 'common' %}
                                        <span class="badge text-bg-secondary">Common</span>
                                        {% elif battle.opponent.card1.rarity == 'rare' %}
                                        <span class="badge text-bg-warning">Rare</span>
                                        {% elif battle.opponent.card1.rarity == 'epic' %}
                                        <span class="badge text-bg-primary">Epic</span>
                                        {% elif battle.opponent.card1.rarity == 'legendary' %}
                                        <span class="badge text-bg-info">Legendary</span>
                                        {% elif battle.opponent.card1.rarity == 'champion'%}
                                        <span class="badge text-bg-success">Champion</span>
                                        {% endif %}
                                        <div class='d-flex flex-column'>
                                            <span class="badge custom-badge rounded-pill">{{ battle.opponent.card1.elixirCost }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex align-items-stretch">
                            <div {% if battle.opponent.card2.level >= battle.opponent.card2.maxLevel %} class="card border-info" {% else %} class="card" {% endif %}style="width: 9rem;">
                                <img src="{{ battle.opponent.card2.iconUrlsm }}" class="card-img-top d-block mx-auto" alt="{{ battle.opponent.card2.name }}" style="width:75%;height:auto;">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <h5 class="card-title">{{ battle.opponent.card2.name }}</h5>
                                    <p class="card-text">Level {{ battle.opponent.card2.level }}</p>
                                    <div class='d-flex justify-content-between align-items-center'>
                                        {% if battle.opponent.card2.rarity == 'common' %}
                                        <span class="badge text-bg-secondary">Common</span>
                                        {% elif battle.opponent.card2.rarity == 'rare' %}
                                        <span class="badge text-bg-warning">Rare</span>
                                        {% elif battle.opponent.card2.rarity == 'epic' %}
                                        <span class="badge text-bg-primary">Epic</span>
                                        {% elif battle.opponent.card2.rarity == 'legendary' %}
                                        <span class="badge text-bg-info">Legendary</span>
                                        {% elif battle.opponent.card2.rarity == 'champion'%}
                                        <span class="badge text-bg-success">Champion</span>
                                        {% endif %}
                                        <div class='d-flex flex-column'>
                                            <span class="badge custom-badge rounded-pill">{{ battle.opponent.card2.elixirCost }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex align-items-stretch">
                            <div {% if battle.opponent.card3.level >= battle.opponent.card3.maxLevel %} class="card border-info" {% else %} class="card" {% endif %}style="width: 9rem;">
                                <img src="{{ battle.opponent.card3.iconUrlsm }}" class="card-img-top d-block mx-auto" alt="{{ battle.opponent.card3.name }}" style="width:75%;height:auto;">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <h5 class="card-title">{{ battle.opponent.card3.name }}</h5>
                                    <p class="card-text">Level {{ battle.opponent.card3.level }}</p>
                                    <div class='d-flex justify-content-between align-items-center'>
                                        {% if battle.opponent.card3.rarity == 'common' %}
                                        <span class="badge text-bg-secondary">Common</span>
                                        {% elif battle.opponent.card3.rarity == 'rare' %}
                                        <span class="badge text-bg-warning">Rare</span>
                                        {% elif battle.opponent.card3.rarity == 'epic' %}
                                        <span class="badge text-bg-primary">Epic</span>
                                        {% elif battle.opponent.card3.rarity == 'legendary' %}
                                        <span class="badge text-bg-info">Legendary</span>
                                        {% elif battle.opponent.card3.rarity == 'champion'%}
                                        <span class="badge text-bg-success">Champion</span>
                                        {% endif %}
                                        <div class='d-flex flex-column'>
                                            <span class="badge custom-badge rounded-pill">{{ battle.opponent.card3.elixirCost }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex align-items-stretch">
                            <div {% if battle.opponent.card4.level >= battle.opponent.card4.maxLevel %} class="card border-info" {% else %} class="card" {% endif %}style="width: 9rem;">
                                <img src="{{ battle.opponent.card4.iconUrlsm }}" class="card-img-top d-block mx-auto" alt="{{ battle.opponent.card4.name }}" style="width:75%;height:auto;">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <h5 class="card-title">{{ battle.opponent.card4.name }}</h5>
                                    <p class="card-text">Level {{ battle.opponent.card4.level }}</p>
                                    <div class='d-flex justify-content-between align-items-center'>
                                        {% if battle.opponent.card4.rarity == 'common' %}
                                        <span class="badge text-bg-secondary">Common</span>
                                        {% elif battle.opponent.card4.rarity == 'rare' %}
                                        <span class="badge text-bg-warning">Rare</span>
                                        {% elif battle.opponent.card4.rarity == 'epic' %}
                                        <span class="badge text-bg-primary">Epic</span>
                                        {% elif battle.opponent.card4.rarity == 'legendary' %}
                                        <span class="badge text-bg-info">Legendary</span>
                                        {% elif battle.opponent.card4.rarity == 'champion'%}
                                        <span class="badge text-bg-success">Champion</span>
                                        {% endif %}
                                        <div class='d-flex flex-column'>
                                            <span class="badge custom-badge rounded-pill">{{ battle.opponent.card4.elixirCost }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex align-items-stretch">
                            <div {% if battle.opponent.card5.level >= battle.opponent.card5.maxLevel %} class="card border-info" {% else %} class="card" {% endif %}style="width: 9rem;">
                                <img src="{{ battle.opponent.card5.iconUrlsm }}" class="card-img-top d-block mx-auto" alt="{{ battle.opponent.card5.name }}" style="width:75%;height:auto;">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <h5 class="card-title">{{ battle.opponent.card5.name }}</h5>
                                    <p class="card-text">Level {{ battle.opponent.card5.level }}</p>
                                    <div class='d-flex justify-content-between align-items-center'>
                                        {% if battle.opponent.card5.rarity == 'common' %}
                                        <span class="badge text-bg-secondary">Common</span>
                                        {% elif battle.opponent.card5.rarity == 'rare' %}
                                        <span class="badge text-bg-warning">Rare</span>
                                        {% elif battle.opponent.card5.rarity == 'epic' %}
                                        <span class="badge text-bg-primary">Epic</span>
                                        {% elif battle.opponent.card5.rarity == 'legendary' %}
                                        <span class="badge text-bg-info">Legendary</span>
                                        {% elif battle.opponent.card5.rarity == 'champion'%}
                                        <span class="badge text-bg-success">Champion</span>
                                        {% endif %}
                                        <div class='d-flex flex-column'>
                                            <span class="badge custom-badge rounded-pill">{{ battle.opponent.card5.elixirCost }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex align-items-stretch">
                            <div {% if battle.opponent.card6.level >= battle.opponent.card6.maxLevel %} class="card border-info" {% else %} class="card" {% endif %}style="width: 9rem;">
                                <img src="{{ battle.opponent.card6.iconUrlsm }}" class="card-img-top d-block mx-auto" alt="{{ battle.opponent.card6.name }}" style="width:75%;height:auto;">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <h5 class="card-title">{{ battle.opponent.card6.name }}</h5>
                                    <p class="card-text">Level {{ battle.opponent.card6.level }}</p>
                                    <div class='d-flex justify-content-between align-items-center'>
                                        {% if battle.opponent.card6.rarity == 'common' %}
                                        <span class="badge text-bg-secondary">Common</span>
                                        {% elif battle.opponent.card6.rarity == 'rare' %}
                                        <span class="badge text-bg-warning">Rare</span>
                                        {% elif battle.opponent.card6.rarity == 'epic' %}
                                        <span class="badge text-bg-primary">Epic</span>
                                        {% elif battle.opponent.card6.rarity == 'legendary' %}
                                        <span class="badge text-bg-info">Legendary</span>
                                        {% elif battle.opponent.card6.rarity == 'champion'%}
                                        <span class="badge text-bg-success">Champion</span>
                                        {% endif %}
                                        <div class='d-flex flex-column'>
                                            <span class="badge custom-badge rounded-pill">{{ battle.opponent.card6.elixirCost }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex align-items-stretch">
                            <div {% if battle.opponent.card7.level >= battle.opponent.card7.maxLevel %} class="card border-info" {% else %} class="card" {% endif %}style="width: 9rem;">
                                <img src="{{ battle.opponent.card7.iconUrlsm }}" class="card-img-top d-block mx-auto" alt="{{ battle.opponent.card7.name }}" style="width:75%;height:auto;">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <h5 class="card-title">{{ battle.opponent.card7.name }}</h5>
                                    <p class="card-text">Level {{ battle.opponent.card7.level }}</p>
                                    <div class='d-flex justify-content-between align-items-center'>
                                        {% if battle.opponent.card7.rarity == 'common' %}
                                        <span class="badge text-bg-secondary">Common</span>
                                        {% elif battle.opponent.card7.rarity == 'rare' %}
                                        <span class="badge text-bg-warning">Rare</span>
                                        {% elif battle.opponent.card7.rarity == 'epic' %}
                                        <span class="badge text-bg-primary">Epic</span>
                                        {% elif battle.opponent.card7.rarity == 'legendary' %}
                                        <span class="badge text-bg-info">Legendary</span>
                                        {% elif battle.opponent.card7.rarity == 'champion'%}
                                        <span class="badge text-bg-success">Champion</span>
                                        {% endif %}
                                        <div class='d-flex flex-column'>
                                            <span class="badge custom-badge rounded-pill">{{ battle.opponent.card7.elixirCost }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex align-items-stretch">
                            <div {% if battle.opponent.card8.level >= battle.opponent.card8.maxLevel %} class="card border-info" {% else %} class="card" {% endif %}style="width: 9rem;">
                                <img src="{{ battle.opponent.card8.iconUrlsm }}" class="card-img-top d-block mx-auto" alt="{{ battle.opponent.card8.name }}" style="width:75%;height:auto;">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <h5 class="card-title">{{ battle.opponent.card8.name }}</h5>
                                    <p class="card-text">Level {{ battle.opponent.card8.level }}</p>
                                    <div class='d-flex justify-content-between align-items-center'>
                                        {% if battle.opponent.card8.rarity == 'common' %}
                                        <span class="badge text-bg-secondary">Common</span>
                                        {% elif battle.opponent.card8.rarity == 'rare' %}
                                        <span class="badge text-bg-warning">Rare</span>
                                        {% elif battle.opponent.card8.rarity == 'epic' %}
                                        <span class="badge text-bg-primary">Epic</span>
                                        {% elif battle.opponent.card8.rarity == 'legendary' %}
                                        <span class="badge text-bg-info">Legendary</span>
                                        {% elif battle.opponent.card8.rarity == 'champion'%}
                                        <span class="badge text-bg-success">Champion</span>
                                        {% endif %}
                                        <div class='d-flex flex-column'>
                                            <span class="badge custom-badge rounded-pill">{{ battle.opponent.card8.elixirCost }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                                                                                   
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
