<!doctype html>
<html lang="en" class="wa-dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Site in Construction</title>
    <script src="https://kit.webawesome.com/f9f7b948ad9d4723.js" crossorigin="anonymous"></script>
  </head>
  <body>
  <main>
    <wa-layout alignment="center" justify="center" vertical fill>
      <wa-card size="lg" alignment="center">
        <wa-text variant="heading-lg">Site under construction</wa-text>
      </wa-card>
    </wa-layout>
  </main>
  </body>
</html>
